body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(16,16,16,255);
    background-size: 100% 100%; 
}

ul.container li.card {
    width: 700px;
    height: 100px;
    background: orange;
  }

  .slick-dots li button:before {
    color: gainsboro;
  }
  
  /* Active dot color */
  .slick-dots li.slick-active button:before {
    color: #ed943e;
  }
  
  /* Hover color */
  .slick-dots li button:hover:before {
    color: #ed943e; /* Change this to the color you want on hover */
  }
  

  .curve svg, .curve .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
}

.curve .background {
    background-color: rgba(16,16,16,255);
    transition: opacity 0s linear 0.1s;
}

.curve .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: rgba(16,16,16,255);
    font-size: 46px;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
}
